* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: hsl(217, 28%, 15%);
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* HEADER AND NAV */

header {
  margin-top: 2em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3em;
}

.logo {
  width: 100%;
  max-width: 150px;
}

.nav-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.nav-link {
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
}

.nav-link:hover {
  color: hsl(176, 68%, 64%);
}

/* INTRO PAGE */
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1.5em;
  position: relative;
}

.intro__container {
  margin-top: 1.5em;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  width: 60%;
  line-height: 1.2em;
  margin: 0 auto;
}

.subtitle {
  font-size: 1rem;
  line-height: 1.5em;
  width: 43%;
  margin: 1.5em auto;
}

.cta-btn {
  margin-top: 0.5em;
  width: 25%;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  padding: 1em;
  font-size: 1.1rem;
  font-weight: 700;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  outline: none;
  cursor: pointer;
}

.cta-btn:hover,
.cta-btn:focus {
  opacity: 0.9;
}

.intro-background {
  background: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  z-index: -100;
  position: absolute;
  top: 70%;
  left: 0;
}

.intro-background-mobile {
  display: none;
}

/* MAIN */
main {
  background-color: hsl(218, 28%, 13%);
}

.main {
  margin: 10em auto 0;
}
.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 5em 0em;
  text-align: center;
  overflow-x: hidden;
}

.main-heading {
  font-weight: 700;
  font-size: 1.2rem;
}

.main-text {
  width: 65%;
  font-size: 1rem;
  margin: 1em auto;
}

/* MAIN PRODUCTIVE */

.main__productive {
  display: flex;
  align-items: center;
  margin: 6em 0 5em 5em;
}

.text-container {
  margin-left: 5em;
}
.text-wrapper {
  width: 100%;
  margin: 0 auto;
}

.main-title {
  font-size: 2.5rem;
  font-weight: 700;
  width: 65%;
}

.text-container p {
  width: 75%;
  margin: 1.3em 0;
}

.btn__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  cursor: pointer;
}

.arrow-btn {
  color: hsl(176, 68%, 64%);
  text-decoration: none;
}

.btn__container:hover:after,
.btn__container:focus::after {
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  top: 125%;
  background-color: hsl(176, 68%, 64%);
}

/* TESTIMONIALS */
.testimonials {
  display: grid;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  margin-bottom: 10em;
}

.card {
  background-color: hsl(219, 30%, 18%);
  padding: 2em;
  width: 100%;
  position: relative;
}

.card__title {
  font-size: 0.95rem;
}

.card-profile {
  display: flex;
  align-items: center;
  margin: 1.5em 0 0;
}

.user-info {
  margin-left: 0.65em;
}

.profile-name {
  font-weight: bold;
}

.designation {
  font-size: 0.75rem;
  margin-top: 0.3em;
}

.back-img {
  position: absolute;
  top: -15%;
  left: -5%;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  max-width: 40px;
}

/* CONTACT PAGE */
.contact__form {
  margin: auto;
  width: 60%;
  background-color: hsl(217, 28%, 15%);
  padding: 2.5em;
  border-radius: 5px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.form-title {
  font-weight: 700;
  font-size: 2rem;
}

.form-description {
  font-size: 0.9rem;
  width: 90%;
  margin: 1.5em auto;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-email {
  width: 65%;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  padding: 1em;
  outline: none;
}

.form-btn {
  width: 30%;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  padding: 1.1rem;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  outline: none;
  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  opacity: 0.9;
}

/* FOOTER */
footer {
  padding: 5em 3em;
  background-color: hsl(216, 53%, 9%);
}

.contact-info {
  display: flex;
  align-items: center;
}

.address {
  display: flex;
  align-items: flex-start;
  width: 40%;
}
.address img {
  padding-top: 0.25em;
}
.address p {
  font-size: 1rem;
  width: 80%;
  margin-left: 1.5em;
}
.contact-phone {
  margin-bottom: 1em;
}
.contact img {
  margin-right: 1em;
}
.contact a {
  text-decoration: none;
  color: #fff;
}
.contact a:hover {
  color: hsl(176, 68%, 64%);
}
.contact-links {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em 5em;
  margin: 0 2em 0 5em;
}
.contact-links li {
  list-style: none;
  margin-bottom: 1.2em;
}
.contact-links a {
  color: #fff;
  text-decoration: none;
}
.contact-links a:hover {
  color: hsl(176, 68%, 64%);
}
.social-icons i {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 0.75em;
  margin: 0 0.5em;
  font-size: 0.75rem;
  width: 32px;
  text-align: center;
  cursor: pointer;
}

.social-icons i:hover {
  color: hsl(176, 68%, 64%);
  border-color: hsl(176, 68%, 64%);
}
/* MEDIA QUERRIES */
@media screen and (max-width: 780px) {
  nav {
    margin: 0 1.5em;
  }
  .nav-lists {
    width: 40%;
  }
  .nav-link {
    font-size: 0.85rem;
  }

  .title {
    font-size: 1.7rem;
    width: 90%;
    margin: 1em auto;
  }
  .subtitle {
    width: 80%;
    margin: 0 auto;
    font-size: 0.85rem;
  }
  .cta-btn {
    width: 70%;
    margin-top: 2em;
    font-size: 1rem;
  }

  .main__productive {
    flex-direction: column;
    margin: 6em 0 5em 0;
  }
  .main-title {
    width: 100%;
    font-size: 1.2rem;
  }
  .main-text {
    font-size: 0.85rem;
    width: 60%;
  }
  .text-container p {
    font-size: 0.85rem;
    width: 90%;
  }
  .text-container {
    margin-left: 2em;
    margin-top: 2em;
  }

  .btn__container {
    width: 50%;
    justify-content: left;
  }
  .arrow {
    margin-left: 0.5em;
  }
  .card {
    padding: 1.2em 1.5em;
  }

  .card__title {
    font-size: 0.85rem;
  }
  .profile-name {
    font-size: 0.85rem;
  }
  .designation {
    font-size: 0.7rem;
  }
  .contact__form {
    width: 90%;
    padding: 1.5em;
  }
  .form-title {
    font-size: 1.35rem;
  }
  .form-description {
    font-size: 0.9rem;
    width: 100%;
  }
  .form-input {
    flex-direction: column;
  }
  .form-email {
    width: 100%;
  }
  .form-btn {
    margin: 1.2em 0 0 0;
    width: 100%;
    font-size: 0.9rem;
  }
  footer {
    padding: 3em 2em;
  }
  .contact-info {
    flex-direction: column;
    margin-top: 1.5em;
    align-items: stretch;
  }
  .address {
    width: 80%;
  }

  .address p {
    width: 100%;
    font-size: 0.9rem;
  }
  .contact-details {
    margin: 2em 0;
  }
  .contact-links {
    margin: 3em 0 0 0;
    grid-template-columns: auto;
  }
  .contact-link {
    font-size: 0.8rem;
  }
  .social-icons {
    text-align: center;
    margin: 1.5em 0;
  }
}

@media screen and (max-width: 450px) {
  .nav-lists {
    width: 60%;
  }
  .logo {
    max-width: 90px;
  }
  .intro-background {
    display: none;
  }
  .intro-background-mobile {
    display: block;
    background: url(./images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 103%;
    left: 0;
  }
}
